{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2>Log In</h2>

    <form action="/login" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="password" name="password" placeholder="Password">
    <input type="submit">

    </form>
    <a href="/signup">sign</a>

</body>
</html> --}}


<html>
<body style="background-image: linear-gradient(red,blue);">
  <h1 style="color:greenyellow;text-align: center;">WELCOME TO SPOTIFY CLONE</h1>
<form style="background-image:linear-gradient(yellow,red);
border:1px solid red;width:300px;height: 430px;0px;text-align: center;
margin-left:500px;margin-top: 100px;" action="/login" method="post">
  <h1>SIGNIN</h1>
  <div>
    <label  style="font-size: 22px;">Email address</label><br><br>
    <input type="email" name="email" placeholder="name" required>
    <div style="font-size: 22px;">We'll never 
      share your email with anyone else.</div>
  </div>
  <div>
   <br><br> <label style="font-size: 22px;">Password</label>
    <br><br><input type="password" name="password" placeholder="password" required><br/>
    <label style="color:yellow">Type Number Only</label>
  </div>
  <div>
   <br> <input type="checkbox"  required>
    <label style="font-size: 20px;">Confirm</label>
  </div></br>
<input type="submit"><br/>
<a href="/signup">signup</a>
</form>
</body>
</html>