{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2>Sign Up</h2>

    <form action="/signup" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="password" name="password" placeholder="Password">
    <input type="submit">

    </form>

</body>
</html> --}}


<html>
<body style="background-image: linear-gradient(red,blue);">
  <h1 style="color:greenyellow;text-align: center;">WELCOME TO SPOTIFY CLONE</h1>
<form style="background-image:linear-gradient(yellow,red);
border:1px solid red;width:300px;height:400px;text-align: center;
margin-left:500px;margin-top: 100px;" action="/signup" method="post">
  <h1>SIGNUP</h1>
  <div>
    <label  style="font-size: 22px;">Email address</label><br><br>
    <input type="email" name="email" placeholder="name" required>
    <div style="font-size: 22px;">We'll never 
      share your email with anyone else.</div>
  </div>
  <div>
   <br><br> <label style="font-size: 22px;">Password</label>
    <br><br><input type="password" name="password" placeholder="password" required><br/>
    <label style="color:yellow">ENTER NUMBER ONLY</label>
  </div>
  <div>
   <br> <input type="checkbox"  required>
    <label style="font-size: 20px;">Confirm</label>
  </div>
<button type="submit">Submit</button>
</form>
</body>
</html>